{% extends 'base.html' %}
{% block content %}
<div class="card">
    <div class="card-header">
        <h2 class="mb-0">Criar Novo Usuário</h2>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="{{ form.username.id_for_label }}" class="form-label">Usuário</label>
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="text-danger">
                        {{ form.username.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="{{ form.email.id_for_label }}" class="form-label">Email</label>
                {{ form.email }}
                {% if form.email.errors %}
                    <div class="text-danger">
                        {{ form.email.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="{{ form.password1.id_for_label }}" class="form-label">Senha</label>
                {{ form.password1 }}
                {% if form.password1.errors %}
                    <div class="text-danger">
                        {{ form.password1.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="{{ form.password2.id_for_label }}" class="form-label">Confirmar Senha</label>
                {{ form.password2 }}
                {% if form.password2.errors %}
                    <div class="text-danger">
                        {{ form.password2.errors }}
                    </div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">Registrar</button>
            <a href="{% url 'users:user_list' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}
