{% extends 'agenda/base.html' %}

{% block title %}Editar Utilizador: {{ user.username }}{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h2 class="mb-0">Editar Utilizador: {{ user.username }}</h2>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="{{ form.username.id_for_label }}" class="form-label">Usuário</label>
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="text-danger">
                        {{ form.username.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="{{ form.email.id_for_label }}" class="form-label">Email</label>
                {{ form.email }}
                {% if form.email.errors %}
                    <div class="text-danger">
                        {{ form.email.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="{{ form.is_staff.id_for_label }}" class="form-label">Estatuto</label>
                {{ form.is_staff }}
                {% if form.is_staff.errors %}
                    <div class="text-danger">
                        {{ form.is_staff.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="{{ form.is_active.id_for_label }}" class="form-label">Ativo</label>
                {{ form.is_active }}
                {% if form.is_active.errors %}
                    <div class="text-danger">
                        {{ form.is_active.errors }}
                    </div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">Atualizar</button>
            <a href="{% url 'users:user_list' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}
